.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 100%; /* Prend toute la largeur disponible */
    max-width: 450px; /* Largeur maximale du tableau */
    height: 100%;
    max-height: 450px;
}
.board-container {
    display: flex;
    flex-direction: column; /* Aligne les enfants en colonne */
    justify-content: center; /* Centre verticalement */
    align-items: center; /* Centre horizontalement */
    height: 100vh; /* Prend toute la hauteur de la fenêtre */
    text-align: center; /* Centre le texte dans les éléments enfants */
}

.tile{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5em;
    font-family: Arial Rounded MT Bold;
  } 


.border-bottom{
    border-bottom:  15px solid #a5ccff;
}
.border-right{
    border-right:  15px solid #a5ccff;
}

button {
    background-color: #4CAF50; /* Couleur de fond du bouton */
    border: none; /* Supprime les bordures par défaut */
    color: white; /* Couleur du texte */
    padding: 15px 32px; /* Espacement intérieur */
    text-align: center; /* Alignement du texte */
    text-decoration: none; /* Supprime la décoration du texte */
    display: inline-block; /* Affichage en ligne avec possibilité de dimensionner */
    font-size: 16px; /* Taille de la police */
    margin: 4px 2px; /* Espacement extérieur */
    cursor: pointer; /* Curseur en forme de main pour indiquer que c'est cliquable */
    border-radius: 12px; /* Coins arrondis */
    transition: background-color 0.3s, transform 0.3s; /* Animation pour l'effet de survol */
  }
  
  button:hover {
    background-color: #45a049; /* Couleur de fond au survol */
    transform: scale(1.05); /* Agrandir légèrement le bouton au survol */
  }
  
  button:active {
    background-color: #388e3c; /* Couleur de fond lorsque le bouton est cliqué */
    transform: scale(0.95); /* Réduire légèrement le bouton lorsque cliqué */
  }
.preview{
    opacity: 0.3;;
}

.o-color{
  color: 		#ffbf58;
}

.x-color{
  color : #fd6b33;
}

.title{
  font-size: 1.5rem;
}

.turn{
  display: flex;
  align-items: center;

}

